$adl: rgb(60, 210, 60);
$custom-background:#FFE6E6;
$custom-principal:#d483bb;
$custom-second:#9f4dd5;
$custom-tercero:rgba(31, 18, 106, 0.874);
$custom-name:#662549;

//font-family
$font-montecarlo:"montecarlo";
$font-josefin:"Josefin Slab";
$font-alumni:"Alumni Sans";


$font-thin: 300;
$font-medium: 500;
$font-bold: 700;


//style size
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;