.header__presentation-image{
    width:70%;
}
.header__pretentation-title{
    font-family: $font-josefin;
    font-size: $xx-large;
    font-weight: $font-bold;
}
.header__pretentation-text{
    font-family: $font-josefin;
    font-size: $x-large;
    font-weight: $font-medium;
}